html, body {
    text-align: center;
}

img{
    display: inline-block;
  width: 250px;
body,h1,h2{
   background-color: #ffffff;
   color: #615c5c;
}
p{
font-family: Georgia, 'Times New Roman', Times, serif;
  
}
button {
  margin: 0 auto;
}